@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    @apply text-light-100 bg-dark-700;
}

/* Removing input background colour for autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

/* Filter styles */
@layer components {
    .image_filter--clarendon{
        @apply saturate-200
    }
    .image_filter--gingham{
        @apply contrast-150
    }
    .image_filter--lark{
        @apply grayscale
    }
    .image_filter--moon{
        @apply contrast-[110%] brightness-110 saturate-[130%]
    }
    .image_filter--normal{
        @apply filter-none
    }
    .image_filter--oldSchool{
        @apply opacity-70
    }
    .image_filter--shabby{
        @apply sepia
    }
    .image_filter--silentHill{
        @apply hue-rotate-180
    }
    .image_filter--xRay{
        @apply invert
    }
    .image_filter--1977{
        @apply contrast-150 brightness-110 saturate-150
    }
}