  .primary {
    @apply 
    flex  py-[6px] px-[24px] content-center 
    bg-primary-500 text-light-100 rounded-[2px] cursor-pointer 
    active:bg-primary-700 active:text-light-500  
    hover:bg-primary-100 hover:text-light-100
    focus:bg-primary-500 focus:border-2 focus:border-primary-700
    disabled:bg-primary-900 disabled:text-light-900
    
  }
  .secondary{
    @apply 
    flex  py-[6px] px-[24px] content-center 
    bg-dark-300 text-light-100 rounded-[2px] cursor-pointer 
    active:bg-[#212121] active:text-light-100  
    hover:bg-dark-100 hover:text-light-100
    focus:bg-dark-300 focus:border-[1px] focus:border-primary-300
    disabled:bg-dark-500 disabled:text-light-900
  }
  .outline{
    @apply 
    flex  py-[6px] px-[24px] content-center  
    bg-none text-primary-500 rounded-[2px] border-[1px] border-primary-500 cursor-pointer 
    active:text-primary-700 active:border-primary-700
    hover:text-primary-100 hover:border-primary-100
    focus:border-[2px] focus:border-primary-700 focus:text-primary-700
    disabled:bg-primary-900 disabled:text-primary-900
  }

  .text{
    @apply 
    flex  py-[6px] px-[24px] content-center 
    bg-none text-primary-500  cursor-pointer 
    active:text-primary-700 hover:text-primary-100
    focus:border-[2px] focus:border-primary-700 focus:text-primary-500 focus:rounded-[2px]
    disabled:text-primary-900
  }

  .small {
    @apply
    text-[12px]
    leading-[16px]
  }
  .medium {
    @apply
    text-[14px]
    leading-[24px]
  }
  .large {
    @apply
    text-[36px]
    leading-[36px]
  }
