.wrapper {
  @apply flex flex-col;
}

.inputField {
  @apply relative;
}

.input {
  @apply border border-dark-100 rounded-sm pl-3 py-1.5 w-full
      text-light-100 placeholder-light-900
      bg-transparent
      hover:border-light-900
      focus:border-blue-600 focus:outline-none focus:ring-2 focus:ring-primary-500
      disabled:placeholder-dark-100 disabled:text-dark-100;
}

.error {
  @apply border-danger-500;
}

.errorMessage {
  @apply text-sm font-normal text-red-500 leading-normal;
}

.search {
  @apply pl-10;
}

.searchIcon {
  @apply absolute left-0 inset-y-0 ml-3 my-auto text-light-900 fill-current;
}

.label {
  @apply mb-1 text-light-900 text-sm;
}

.button {
  @apply absolute inset-y-0 right-0 pr-3 flex items-center;
}

.eyeIcon {
  @apply text-light-100 fill-current;
}
