.select {
    @apply max-w-sm relative disabled:opacity-10;
}

.select__active_el {
    @apply border-light-900 select-none w-full cursor-pointer text-light-100 border px-2 py-1.5 rounded-sm flex justify-between hover:text-light-900;
}

.disabled {
    @apply cursor-not-allowed;

    .select__active_el {
        @apply pointer-events-none border-dark-100;

        .select__dropdown_title {
            @apply text-dark-100 text-base;
        }
    }
}

.select__title {
    @apply text-light-900 block text-sm;
}

.select__active_el_selected {
    @apply border-light-100 bg-dark-500;
}

.select__dropdown_arrow {
    @apply transition-transform rotate-0;
}

.select__dropdown_arrow_active {
    @apply rotate-180
}

.select__dropdown {
    @apply transition-all origin-top ease-in-out max-h-72 overflow-y-scroll  absolute w-full border bg-dark-500 rounded-b-sm -mt-px;
}

.select__dropdown_item {
    @apply py-2 px-4 cursor-pointer select-none text-light-100 hover:bg-dark-300 hover:text-primary-500 text-base;
}
