.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  position: relative;

  display: block;

  box-sizing: border-box;

  background-color: #171717;
  border-radius: 4px;
  outline: none;
}

.react-datepicker__view-calendar-icon input {
  min-width: 150px;
  max-width: 258px;
  padding: 6px 10px 5px;
}

.react-datepicker {
  position: relative;

  display: inline-block;

  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 0.8rem;
  color: #d5dae0;

  background-color: #171717;
  border: 1px solid #8d9094;
  border-radius: 0.3rem;
}

.react-datepicker__header {
  position: relative;

  padding: 8px 0;

  color: #d5dae0;
  text-align: center;

  background-color: #171717 !important;
  border-bottom: 1px solid #8d9094 !important;
  border-top-left-radius: 0.3rem;
}

.react-datepicker__day-names {
  margin-bottom: -8px;
  white-space: nowrap;
}

.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  display: inline-block;
  line-height: 1.7rem;
  color: #d5dae0;
  text-align: center;
}

.react-datepicker__day--today {
  color: #2f68cc;
}

.react-datepicker__day--today:hover {
  color: #d5dae0;
  background-color: #2f68cc;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  color: #d5dae0 !important;
  border-radius: 0;
}

.react-datepicker__day--range-start {
  color: #d5dae0 !important;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}

.react-datepicker__day--range-end:not(.react-datepicker__day--selected) {
  color: #d5dae0;
  border-top-right-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__quarter-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  color: #d5dae0;
  background-color: #2f68cc !important;
}

.react-datepicker__day--weekend {
  color: #990f2b !important;
}

.react-datepicker__day--outside-month {
  cursor: default;
  color: #8d9094 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  font-size: 0.944rem;
  font-weight: bold;
  color: #fff;
}

.react-datepicker__day-name {
  color: #8d9094;
}

.react-datepicker__day {
  display: inline-block;

  width: 2rem;
  margin: 0;
  padding: 0 0.2rem;

  line-height: 1.7rem;
  text-align: center;
}

.react-datepicker__day--selected {
  color: #d5dae0;
  background-color: #2f68cc;
  border-radius: 0.8rem;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: unset;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #2f68cc;
}

.react-datepicker__day:hover:not(
    .react-datepicker__day--selecting-range-end,
    .react-datepicker__day--selecting-range-end:hover
  ),
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #2f68cc !important;
  border-radius: 0.7rem;
}

.react-datepicker__day--selecting-range-start {
  box-sizing: border-box !important;

  line-height: 1.7rem !important;

  background-color: #2f68cc;
  border-top-left-radius: 0.8rem !important;
  border-bottom-left-radius: 0.8rem !important;
}

.react-datepicker__day--selecting-range-end {
  border-top-right-radius: 0.8rem !important;
  border-bottom-right-radius: 0.8rem !important;
}

.react-datepicker__day--selecting-range-end:hover {
  background-color: #2f68cc;
  border-top-right-radius: 0.8rem !important;
  border-bottom-right-radius: 0.8rem !important;
}

.react-datepicker__day--keyboard-selected {
  box-sizing: border-box;
  background-color: #2f68cc !important;
}

.react-datepicker__day--keyboard-selected:not(
    .react-datepicker__day--range-start,
    .react-datepicker__day--range-end,
    .react-datepicker__day--selecting-range-start,
    .react-datepicker__day--selecting-range-end
  ),
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  box-sizing: border-box;

  color: #d5dae0;

  background-color: transparent !important;
  border-radius: 0.8rem;
  outline: 2px solid #397df6;
}
